propcache==0.3.2
notebook==7.4.5
shellingham==1.5.4
cymem==2.0.11
jiter==0.12.0
semantic-version==2.10.0
scipy==1.11.4
async-lru==2.0.4
ipython==9.1.0
narwhals==2.13.0
marisa-trie==1.3.1
w3lib==2.3.1
rfc3339-validator==0.1.4
pydantic_core==2.33.2
pexpect==4.9.0
imagededup==0.3.3.post2
llama-index-readers-file==0.5.4
Pygments==2.19.1
qtconsole==5.6.1
uvicorn==0.38.0
GitPython==3.1.45
typer==0.17.4
pip==25.2
sip==6.12.0
jupyter_core==5.8.1
requests==2.32.5
lxml==5.2.2
traitlets==5.14.3
language_data==1.3.0
llama-index-indices-managed-llama-cloud==0.9.4
urllib3==2.5.0
starlette==0.49.3
jupyter_server==2.16.0
itemadapter==0.12.2
pydub==0.25.1
ruff==0.14.5
nest-asyncio==1.6.0
pyarrow==21.0.0
ImageHash==4.3.2
kiwisolver==1.4.8
jsonschema-specifications==2023.7.1
ptyprocess==0.7.0
aiohttp==3.12.15
prometheus_client==0.21.1
gensim==4.4.0
nltk==3.9.1
unicodedata2==15.1.0
pytz==2025.2
toml==0.10.2
torchmetrics==1.4.0.post0
fonttools==4.55.3
pytokens==0.2.0
cssselect==1.3.0
typing-inspection==0.4.1
Protego==0.5.0
parso==0.8.4
colorama==0.4.6
json5==0.9.25
tinycss2==1.4.0
cloudpathlib==0.22.0
protobuf==6.33.2
orjson==3.11.4
pydeck==0.9.1
executing==2.2.1
ffmpy==1.0.0
cachetools==6.2.2
numexpr==2.11.0
pypdf==6.2.0
playwright==1.57.0
pymupdf4llm==0.0.27
python-json-logger==3.2.1
l0bnb==1.0.0
defusedxml==0.7.1
jsonschema==4.25.0
openai==2.8.0
gradio_client==1.13.3
openpyxl==3.1.5
llama-index-workflows==2.11.1
python-dotenv==1.1.1
tldextract==5.3.0
spacy-legacy==3.0.12
groovy==0.1.2
blinker==1.9.0
tenacity==9.1.2
pytorch-lightning==2.2.5
zope.interface==8.0.1
filelock==3.19.1
seaborn==0.13.2
pandas==2.2.2
llama-index-llms-openai==0.6.9
multidict==6.6.4
griffe==1.15.0
queuelib==1.8.0
smart_open==7.3.1
pinecone-plugin-interface==0.0.7
evaluate==0.4.6
jupyter-console==6.6.3
jedi==0.19.2
webencodings==0.5.1
llama-index-cli==0.5.3
black==25.9.0
spacy-loggers==1.0.5
joblib==1.4.2
hyperlink==21.0.0
autograd-gamma==0.5.0
et_xmlfile==2.0.0
typing-inspect==0.9.0
numba==0.63.1
lightning-utilities==0.15.2
blis==1.3.0
overrides==7.4.0
tokenizers==0.22.0
jupyter==1.1.1
PySocks==1.7.1
cffi==2.0.0
catalogue==2.0.10
jupyter_client==8.6.3
plotly==6.5.0
asttokens==3.0.0
tqdm==4.67.1
pandocfilters==1.5.1
argon2-cffi==21.3.0
llama-index==0.14.8
tzdata==2025.2
ipython_pygments_lexers==1.1.1
pyzmq==26.2.0
appnope==0.1.4
numpy==1.26.4
torchvision==0.18.0
scikit-learn==1.5.0
certifi==2025.8.3
pinecone==7.3.0
weasel==0.4.1
httpcore==1.0.9
greenlet==3.2.4
decorator==5.2.1
dirtyjson==1.0.8
llama-index-instrumentation==0.4.2
confection==0.1.5
rich==14.1.0
llama-index-core==0.14.8
pygam==0.9.1
ipykernel==6.30.1
aiosqlite==0.21.0
PyQt6==6.9.1
SQLAlchemy==2.0.44
nbformat==5.10.4
jupyterlab_widgets==3.0.15
yarl==1.20.1
comm==0.2.1
beautifulsoup4==4.13.5
pyasn1==0.6.1
transformers==4.56.1
requests-file==3.0.1
stack_data==0.6.3
llama-parse==0.6.54
regex==2025.9.1
tomlkit==0.13.3
en_core_web_sm==3.8.0
hf-xet==1.1.9
sympy==1.14.0
threadpoolctl==3.5.0
dataclasses-json==0.6.7
pathspec==0.12.1
multiprocess==0.70.16
markdown-it-py==4.0.0
thinc==8.3.6
llama-cloud-services==0.6.54
constantly==23.10.4
tiktoken==0.12.0
service-identity==24.2.0
aiofiles==24.1.0
xxhash==3.5.0
nbconvert==7.16.6
pyparsing==3.2.0
jmespath==1.0.1
wrapt==1.17.3
soupsieve==2.5
prompt-toolkit==3.0.43
cycler==0.11.0
PyMuPDF==1.26.5
jupyter-lsp==2.2.5
nbclient==0.10.2
h11==0.16.0
gitdb==4.0.12
Deprecated==1.2.18
matplotlib-inline==0.1.6
huggingface-hub==0.34.4
psutil==7.0.0
torchinfo==1.8.0
accelerate==1.11.0
setuptools==80.9.0
sentencepiece==0.2.1
terminado==0.17.1
mdurl==0.1.2
patsy==1.0.2
statsmodels==0.14.2
networkx==3.5
python-dateutil==2.9.0.post0
mpmath==1.3.0
torch==2.3.0
jupyterlab_pygments==0.3.0
murmurhash==1.0.13
kagglehub==0.3.13
fastjsonschema==2.20.0
wcwidth==0.2.13
debugpy==1.8.16
brotlicffi==1.0.9.2
packaging==24.2
widgetsnbextension==4.0.13
charset-normalizer==3.3.2
pyee==13.0.0
sentry-sdk==2.49.0
Bottleneck==1.4.2
PyDispatcher==2.0.7
srsly==2.5.1
torchaudio==2.8.0
jupyter-events==0.12.0
jupyterlab==4.4.6
streamlit==1.52.1
striprtf==0.0.26
lifelines==0.28.0
llama-index-readers-llama-parse==0.5.1
typing_extensions==4.15.0
aiosignal==1.4.0
wasabi==1.1.3
babel==2.16.0
incremental==24.7.2
click==8.2.1
platformdirs==4.3.7
jupyterlab_server==2.27.3
Scrapy==2.13.3
wandb==0.23.1
ipywidgets==8.1.5
llama-cloud==0.1.35
idna==3.7
Jinja2==3.1.6
wheel==0.45.1
tornado==6.5.1
langcodes==3.5.0
matplotlib==3.10.6
formulaic==1.2.1
python-multipart==0.0.20
dill==0.3.8
safehttpx==0.1.7
progressbar2==4.5.0
pure_eval==0.2.3
pydantic==2.11.7
itemloaders==1.3.2
distro==1.9.0
Automat==25.4.16
interface-meta==1.3.0
fsspec==2025.3.0
gradio==5.49.1
datasets==4.4.1
rfc3986-validator==0.1.1
aiohappyeyeballs==2.6.1
llvmlite==0.46.0
websockets==15.0.1
contourpy==1.3.1
pyOpenSSL==25.3.0
referencing==0.30.2
ISLP==0.4.0
argon2-cffi-bindings==21.2.0
Send2Trash==1.8.2
brotli==1.2.0
bs4==0.0.2
banks==2.2.0
PyYAML==6.0.2
httpx==0.28.1
rpds-py==0.22.3
attrs==24.3.0
anyio==4.7.0
sniffio==1.3.0
smmap==5.0.2
PyWavelets==1.9.0
pillow==11.3.0
QtPy==2.4.3
pyasn1_modules==0.4.2
cryptography==46.0.3
llama-index-embeddings-openai==0.5.1
mistune==3.1.2
PyQt6_sip==13.10.2
Twisted==25.5.0
filetype==1.2.0
pinecone-plugin-assistant==1.8.0
jupyter_server_terminals==0.5.3
altair==6.0.0
bleach==6.2.0
preshed==3.0.10
marshmallow==3.26.1
annotated-types==0.7.0
spacy==3.8.7
safetensors==0.6.2
python-utils==3.9.1
mypy_extensions==1.1.0
six==1.17.0
pycparser==2.23
parsel==1.10.0
notebook_shim==0.2.4
frozenlist==1.7.0
autograd==1.8.0
fastapi==0.121.2
annotated-doc==0.0.4
websocket-client==1.8.0
MarkupSafe==3.0.2
